{% extends "base.html" %}
{% block content %}
        <!-- Header-->
        <header class="bg-success py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                    <p class="lead fw-normal text-white-50 mb-0">View your Cart</p>
                </div>
            </div>
        </header>
        <br>
        <div class="container">
            <!--{{ cart_products }}-->
        {% if cart_products %}
            {% for product in cart_products %}
                <div class="card mb-3 ">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.image.url}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8"> 
                            <div class="card-body">
                                <center>
                                <p class="card-text"><strong>{{ product.name }}</strong></p>
            
                                <br>
                                <p class="card-text justied ">{{ product.description }}</p>
            
                                {% if product.is_sale %}
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        &nbsp;&nbsp;Sale!&nbsp;&nbsp;
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <strike> ${{product.price}}</strike> &nbsp;${{product.sale_price}}     
                                {%else%}
                                    ${{product.price}}
                                {% endif %}
                                <br>
                                <br>
                                Quantity
                                <!--{'3':5,'6':4}-->
                                <select class="custom-select form-select-sm" id="select{{product.id}}">                                            
                                    {% for key,value in quantities.items %} 
                                        {% if key == product.id|slugify %}
                                         <!--slugify 过滤器通常用於字符串（如產品名稱），將其轉換為URL友好格式-->
                                        <option selected>{{ value }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select> 
                                <br>
                                <br>
                                <a href="{% url 'home'  %}" class="btn btn-success">Home</a>
                                <button type="button" data-index="{{product.id}}" class="btn btn-warning update-cart">Update</button>
                                <button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product ">Remove</button>
                            </div>
                        </div>
                    </div>
                </div> 
            {% endfor %}
            <div align ="right">  <!--align="right"：表示將內容靠右對齊。-->
            <h3>Total:${{ totals }}</h3>
            <a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
            </div>
            <br><br>
            <br><br>
            {% else %}
            There's Nothing In your Cart.......
            <br><br>
            <br><br>  
        {% endif %}

        <script>
            // update cart
            $(document).on('click', '.update-cart', function(e){
                e.preventDefault();
                //Grap the product id
                var productid = $(this).data('index');
                $.ajax({
                        type: 'POST',
                        url: '{% url 'cart_update' %}',
                        data: { 
                            product_id: $(this).data('index'),
                            product_qty:$('#select' + productid + ' option:selected').text(),
                            csrfmiddlewaretoken:'{{ csrf_token }}',  

                            action: 'post'
                        },
                        //这是一个 AJAX 请求成功的回调函数，json 是從服務伺服端返回JSON數據。
                        success:function(json){
                            //console.log(json)----在遊覽器控制台查看返回的 JSON 數據
                            //document.getElementById("cart_quantity"). //查找頁面中 ID 的cart_quantity 的元素
                            //textContent = json.qty //將該元素的文本内容更新， JSON 方式返回數據中的 qty（即購物車的数量）。
                            location.reload();
                        },
                
                        error: function(xhr, errmsg, err){
                        }           
                });    
            })          
            //delete cart-----
            $(document).on('click', '.delete-product', function(e){
                e.preventDefault();
                //Grap the product id
                //var productid = $(this).data('index');
                $.ajax({
                        type: 'POST',
                        url: '{% url 'cart_delete' %}',
                        data: { 
                            product_id: $(this).data('index'),
                            csrfmiddlewaretoken:'{{ csrf_token }}',  
                            action: 'post'
                        },
                        //这是一个 AJAX 请求成功的回调函数，json 是從服務伺服端返回JSON數據。
                        success:function(json){
                            location.reload();
                        },
                
                        error: function(xhr, errmsg, err){
                        }           
                });    
            })       
        </script>

        
{% endblock %}

