{% extends "base.html" %}
{% block content %}
 <!-- Header-->
        <header class="bg-success py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder"> Update Password</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Update User Password !!!!!!</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <br>
                        <form method="POST" action="{% url 'update_password' %}">  <!-- 表單使用 POST 請求提交數據。
                            這種方法通常用於傳遞敏感或較大量的數據，例如登入資訊、註冊資料等密-->
                           
                            {% csrf_token %}<!--防止跨站請求偽造（CSRF，Cross-Site Request Forgery）攻擊的一個標籤。
                            當您在表單中使用 POST 方法時，這個標籤可以提供一個唯一的令牌，用於驗證請求是否來自可信的來源。-->
                            {{ form.as_p}}
                            <br><br>
                            <button type="submit" class="btn btn-secondary">
                                update Password
                            </button>
                        </form>                    
                    </div>
            </div>
        </div>
        <br>
        <br> 
        <br>


{% endblock%}
