{% extends "base.html" %}
{% block content %}
        <div class="container">
            <div class="row">
                <center>
                    <br><br>
                    <div class="col-8">
                        <br>
                        <h3> Un-Shipped Items</h3>
                        <br>
                        <table class="table table-striped table-hover ">
                            <thead class="table-dark">
                              <tr>
                                <th scope="col">Order</th>
                                <th scope="col">Price</th>
                                <th scope="col">Customer Email</th>
                                <th scope="col">Date Ordered</th>
                                <th scope="col">Shipping status</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for item in orders %}
                              <tr>
                                <td><a href="{% url 'orders' item.id %}">{{item.id}}</a></td>
                                <td>${{item.amount_paid}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.date_ordered}}</td>
                                <td>
                                  <form method="POST">
                                    {% csrf_token %}
                                    <!--點擊按鈕後，表單會提交，並將該訂單標記為已發貨-->
                                    <!--這個隱藏欄位存放訂單的 ID（{{item.id}}），以便在提交後能夠識別是哪個訂單需要更新。-->
                                    <input type="hidden" name="shipping_status" value="true">
                                    <input type="hidden" name="num" value="{{item.id}}">
                                    <button type="submit" class="btn btn-success btn-sm">Mark Shipped</button>
                                    
                                  </form>
                                </td>
                              </tr>

                                {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </center>
            </div>
        </div>
<br>
<br>
{% endblock %}